body{margin: 0 auto;background-color:#303030;color:#FFFFFF;max-width: 480px;background-color: #111}
textarea {width:100%;max-width:600px}
a{color:#FF0000;text-decoration:underline}
.d{border: 1px solid #666;background-color:#303030;color:#808080;padding:4px;vertical-align:top;margin:2px}
.f{background-color:#303030;padding:3px;text-align:center;border: 1px solid #666}
a:hover{color: #AA0000}